.masterbatch {
    width: 100%;
    height: calc(100vh - 55px);
    margin-top: 55px;
    background-color: red;
    scroll-margin: 55px;
    .conclusion {
        
        width: 1060px;
        margin: 120px auto 0;

        p {
            color: var(--darkgreen, #06413F);
            text-align: justify;
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%;
            /* 36px */
            letter-spacing: 0.48px;
            margin-bottom: 50px;
        }

    }
}
@media screen and (max-width: 1060px){
    .masterbatch{
        .conclusion{
            width: 100%;
            padding: 0 20px;
        }
    }
}
@media screen and (max-width: 767px){
    .masterbatch{
        .conclusion{
            width: 100%;
            margin-top: 40px;
            p{
                font-size: 16px;

            }
        }
    }
}