.box {
    min-height: 100px;
    width: 1060px;
    margin: 0 auto;
    margin-top: 130px;
    margin-bottom: 100px;
:last-child{
    margin-top: 50px;
}
    p {
        
        color: var(--darkgreen, #06413F);
        text-align: justify;
        font-size: 16px;
        font-weight: 500;
        line-height: 150%;
        /* 30px */
    }
}

@media screen and (max-width: 1060px) {
    .box {
        width: 100%;
        padding: 0 20px;
    }
}
@media screen and (max-width: 767px){
    .box{
        p{
            font-size: 14px;
        }
    }

}