.background {
    width: 100vw;
    height: calc(100vh - 55px);
    position: absolute;
    top: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow-x: hidden;
    overflow-y: hidden;

    .container {
        margin: 20px 0 20px 0;
        cursor:auto;
        overflow-y: auto;
        margin-bottom: 20px;
        border-radius: 20px;
        max-width: 600px;
        height: calc(100vh - 55px - 20px - 20px - 50px);
        max-height: 800px;
        width: 95vw;
        background-color: white;
    }

}
