.box {
    width: 100%;
    height: calc(100vh - 55px);
    position: relative;
    margin-top: 55px;

    .content {
        position: relative;
        width: 100%;
        height: calc(100vh - 55px);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        h3 {
            margin-top: -40px;
            color: var(--white, #FFF);
            text-align: center;
            font-size: 70px;
            font-weight: 600;
        }

        
    }
}


@media screen and (min-width: 768px) and (max-width: 1060px) {
    .box {
        .content {
            padding: 0 30px;

            h3 {
                font-size: 54px;
            }
        }
    }

}

@media screen and (max-width: 767px) {

    .box {
        .content {
            h3 {
                position: absolute;
                top: 35%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 36px;
            }

        }
    }
}

@media screen and (max-height: 800px) {
    .box {
        .content {

        }
    }

}