.content{
    width: 1060px;
    margin: 85px auto 0;
    display: flex;
    justify-content: center;    

    align-items: center;
    flex-wrap: wrap;
    gap: 40px 155px;

}

@media screen and (max-width: 1060px){
    .content{
        width: 100%;
        display: flex;
        gap: 10px 40px;
    }
}
@media screen and (max-width: 600px){
    .content{
        width: 100%;
        display: flex;
        gap: 10px 20px;
    }
}