
.box {
    width: 100%;
    height: 100%;
    display: flex;
    margin-top: 55px;
    
    .element {
        height: 100%;
        width: 25%;
        transition: 0.9s;
        cursor: pointer;

        &:hover {
            width: 70%;
            transition: 0.9s;
        }



        .bg_shadow {
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(12, 0, 0, 0.80) 0%, rgba(0, 0, 0, 0.00) 100%);
            display: flex;
            align-items: center;
            justify-content: center;

            .link {
                text-decoration: none;

                h2 {
                    color: var(--white, #FFF);
                    text-align: center;
                    font-family: Montserrat;
                    font-size: calc(2vw + 2vh);
                    font-style: normal;
                    font-weight: 600;
                    line-height: normal;
                    width: 100%;
                }
            }
        }

    }

    .mastebatch {
        background: url('../../../assets/homepage/masterbatch.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

    }

    .net {
        background: url('../../../assets/homepage/net.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .addivities {
        background: url('../../../assets/homepage/addivites.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }

    .composites {
        background: url('../../../assets/homepage/composites.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;

    }
}

@media screen and (max-width: 900px) {
    .box {
        flex-direction: column;

        .element {
            height: 25%;
            width: 100%;

            &:hover {
                height: 40%;
                width: 100%;
                transition: 0.9s;
            }

            .bg_shadow {
                h2 {
                    width: 100%;
                }
            }
        }
    }
}

// @media screen and (max-height: 600px) and (max-width: 901px) {
//     .box {
//         .element {
//             .bg_shadow {
//                 .link {
//                     h2 {
//                         font-size: 26px;
//                     }
//                 }
//             }
//         }
//     }

// }

// @media screen and (max-height: 930px) and (max-width: 901px) {
//     .box {
//         .element {
//             .bg_shadow {
//                 .link {
//                     h2 {
//                         font-size: 16px;
//                     }
//                 }
//             }
//         }
//     }

// }

// @media screen and (max-height: 400px){
//     .box {
//         .element {
//             .bg_shadow {
//                 .link {
//                     h2 {
//                         font-size: 16px;
//                     }
//                 }
//             }
//         }
//     }

// }
