.container {
    width: 560px;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    margin-top: 70px;
    height: 404px;

    .card {
        width: 518px;
        height: 214px;
        background-color: blue;
        border-radius: 20px;
        box-shadow: 4px -4px 6px 0px rgba(0, 0, 0, 0.50);
        position: absolute;
    }

    .email {
        background: #69A2A0;
    }

    .addres {
        background: #257775;
        margin-top: 60px;
        margin-left: -20px;


    }

    .tel {
        margin-left: -40px;
        margin-top: 120px;
        background: var(--green, #056461);

    }

}

.emailBox {
    margin-top: 15px;
    margin-left: 20px;
    display: flex;
    align-items: center;

    h4 {
        margin-left: 5px;
        color: var(--white, #FFF);
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    span {
        margin-left: 10px;
        color: #113837;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.addresBox {
    margin-top: 15px;
    margin-left: 20px;
    display: flex;
    align-items: center;

    h4 {
        margin-left: 5px;
        color: var(--white, #FFF);
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

    span {
        margin-left: 10px;
        color: #113837;
        font-family: Montserrat;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

.telBox {
    display: flex;

    margin-top: 15px;

    .svgContainer {
        margin: 0 0 0 20px;
    }

    .info {
        margin-left: 5px;

        h4 {
            color: var(--white, #FFF);
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
        }

        h5 {
            margin-top: 15px;
            color: var(--white, #FFF);
            font-size: 18px;
            font-weight: 400;

            span {
                margin-left: 18px;
                color: var(--light-green, #3FEDE8);
                font-size: 18px;
                font-weight: 400;
            }
        }


    }
}

@media screen and (max-width: 580px) {
    .container {
        width: 100%;
        padding-left: 0;

        .card {
            margin-left: 0;
            width: 100%;

            h4 {
                font-size: 18px;
            }

            h5 {
                font-size: 16px;

                span {
                    font-size: 16px;
                }
            }

            span {
                font-size: 16px;

            }
        }
    }
}

@media screen and (max-width: 430px) {
    .container {
        height: 414px;
        .card {
            .addres {
                margin-top: 80px;
            }

            .tel {
                margin-top: 160px;

            }
        }
    }
}

@media screen and (max-width: 380px) {

    .emailBox {
       span {
            hyphens: manual;
        }
    }

}