.box {
    margin-top: 70px;
    min-height: 400px;
    position: relative;

    .card {
        .content {
            height: 25px;
            margin: 20px 0 0 20px;
            display: flex;
            align-items: center;

            h4 {
                margin-left: 5px;
                color: var(--white, #FFF);
                font-size: 24px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
            }

            .text {
                display: flex;
            }
        }

        position: absolute;
        width: 518px;
        height: 214px;
        border-radius: 20px;
        box-shadow: 4px -4px 6px 0px rgba(0, 0, 0, 0.50);
        display: flex;
        transition: 0.3s;

        &:hover {
            transition: 0.3s;
        }


    }


    .card1 {
        background: #69A2A0;
        z-index: 1;
        top: 5px;
        left: 40px;

        &:hover {
            top: 0px;
            transition: 0.1s;

        }

        .content {
            span {
                margin-left: 10px;
                color: #113837;
                font-family: Montserrat;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }

    .card2 {
        background: #257775;
        z-index: 2;
        top: 65px;
        left: 20px;

        &:hover {
            top: 60px;
            transition: 0.1s;
        }

        .content {
            span {
                margin-left: 10px;
                color: #49FDF7;
                font-family: Montserrat;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
            }
        }
    }


    .card3 {
        z-index: 3;
        top: 135px;
        background: var(--green, #056461);


        &:hover {
            top: 130px;
            transition: 0.1s;
        }

        .content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .heading {
                display: flex;
                align-items: center;
            }

            .numbers {
                margin-left: 30px;
                margin-top: 15px;
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                div {
                    display: flex;
                    align-items: center;
                    margin-bottom: 10px;

                    h5 {
                        color: var(--white, #FFF);
                        font-family: Montserrat;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }

                    span {
                        margin-left: 20px ;
                        color: var(--light-green, #3FEDE8);
                        font-family: Montserrat;
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }
            }
        }
    }

}

@media screen and (max-width: 900px) {
    .box {
        margin-top: 400px;

        .card {
            width: 100%;
            left: 0;

            .content {
                span {
                    hyphens: auto;
                    font-size: 16px;
                }
            }
        }

        .svg {

            right: calc(100vw / 3);
            transform: translate(50%, -50px);
        }
    }
}
@media screen and (max-width: 600px){
    .box{
        .card{
            font-size: 16px;
        }
        .card3 {  
            .content {
                .numbers {
                     div {
                        h5 {
                            font-size: 16px;
                        }
                            span {
                            font-size: 16px;
                        }
                    }
                }
            }
        }
    
    }


}