.box {
    margin-top: 160px;
    width: 100%;
    background: var(--darkgreen, #06413F);
    position: relative;

    // background-color: red;
    .wrapper {
        width: 1060px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        position: relative;
        z-index: 2;

        h4 {
            margin-top: 40px;
            color: var(--gold, #FAC149);
            text-align: center;
            font-size: 42px;
            font-style: normal;
            font-weight: 400;
            line-height: 136.9%;
            /* 65.712px */
            letter-spacing: 0.96px;
        }

        .upper {
            position: absolute;
            top: -400px;
            z-index: -5;
            left: -560px;
            // left: 0px;
        }

        .down {
            position: absolute;
            bottom: -380px;
            right: -500px;
            z-index: -5;
        }

        .vector1 {
            position: absolute;
            right: -350px;
            z-index: -1;
        }

        .vector2 {
            z-index: -1;
            width: 600px;
            height: 600px;
            left: -400px;
            top: 20px;
            position: absolute;
        }
    }




}

@media screen and (max-width: 1060px) {
    .box {
        .wrapper {
            width: 100%;

            h4 {
                padding: 0px 10px;
                font-size: 36px;
            }

            .vector1 {
                top: 60px;
                width: 750px;
                height: 750px;
            }

            .vector2 {
                top: 60px;
                width: 750px;
                height: 750px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .box {
        .wrapper {
            h4 {
                font-size: 24px;
            }
            .vector1 {
                top: 60px;
                width: 500px;
                height: 500px;
            }

            .vector2 {
                left: -200px;
                top: 100px;
                width: 500px;
                height: 500px;
            }
        }
    }
}

@media screen and (max-width: 410px) {
    .box {
        .wrapper {
            h4 {
                font-size: 24px;
            }
            .vector1 {
                top: 700px;
                right: -90px;
                width: 500px;
                height: 500px;
            }

            .vector2 {
                left: 0px;
                top: 100px;
                width: 500px;
                height: 500px;
            }
        }
    }
}