.wrapper {
    height: 55px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 1000;
    background-color: #FFF;

    .content_box {
        z-index: 100;
        background-color: #FFF;
        margin: 0 auto;
        width: 1060px;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .logo {
            display: flex;
            align-items: center;
            color: var(--darkgreen, #06413F);

            .logo_link {
                display: flex;
                justify-content: center;
                align-items: center;
                text-decoration: none;
                color: #06413F;

                &:hover {
                    cursor: pointer;
                }

                h1 {
                    margin-left: 5px;
                    font-family: 'Crimson Text', serif;
                    font-size: 36px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }
        }

        .navigation {
            margin-right: 10px;

            ul {
                display: flex;

                :last-child {
                    margin-right: 0px;
                }

                li {
                    margin-right: 40px;

                    cursor: pointer;

                    .link {
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-decoration: none;
                        color: #06413F;
                        transition: 0.3s;

                        &:hover {
                            transition: 0.3s;
                            color: #FAC149;
                            text-decoration: underline;
                        }
                    }


                }

                .lngSelectorLi {
                    width: 60px;
                    .lngSelector {
                        position: absolute;
                    }
                }
            }
        }


    }


}

@media screen and (max-width: 1070px) {
    .wrapper {
        .content_box {
            width: 100vw;

            .logo {
                margin-left: 10px;
            }

            .navigation {
                ul {
                    :last-child {
                        margin-right: 0px;
                    }

                    li {
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 900px) {
    .wrapper {
        .content_box {
            .logo {
                .logo_link {
                    h1 {
                        font-size: 36px;
                    }
                }
            }

            .navigation {
                ul {
                    display: none;
                }
            }
        }
    }
}