.box {
    width: 100%;
    height: calc(100vh - 55px);
    background-color: green;
    position: relative;
    margin-top: 55px;

    .image {
        position: absolute;
        height: 100%;
        width: 100%;
        overflow-y: hidden;

        img {

            width: 100%;
            height: calc(100%);
            object-fit: cover;
        }

    }

    .content {
        position: relative;
        width: 100%;
        height: calc(100vh - 55px);
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.00) 0%, #000 100%);
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        
        h3 {
            color: var(--white, #FFF);
            text-align: center;
            font-size: 70px;
            font-weight: 600;
        }

        .btns {
            position: absolute;
            width: 1060px;
            min-height: 10px;

            bottom: 150px;
            padding-bottom: 30px;
            display: flex;
            justify-content: center;

            button {
                width: 25%;
                outline: none;
                /* Для синий ободки */
                border: 0;
                background: transparent;
                text-align: center;
                color: var(--white, #FFF);
                font-size: 24px;
                font-style: normal;
                font-weight: 800;
                line-height: normal;
                transition: 0.3s;

                &:hover {
                    text-decoration-line: underline;
                    color: #FAC149;
                    scale: 1.1;
                    transition: 0.3s;
                    cursor: pointer;
                }
            }
        }
    }
}


@media screen and (min-width: 768px) and (max-width: 1060px) {
    .box {
        .content {
            padding: 0 30px;

            h3 {
                font-size: 54px;
            }

            .btns {
                button {
                    width: 23%;
                }

                width: 100%;

                h4 {
                    font-size: 16px;
                    width: 25%;
                }
            }
        }
    }

}

@media screen and (max-width: 767px) {

    .box {
        .content {
            padding-bottom: 40px;
            h3 {
                position: absolute;
                top: 35%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 36px;
            }

            .btns {
                flex-direction: column;
                width: fit-content;
                gap: 30px;
                right: 40px;
                padding-bottom: 60px;
                button {
                    font-size: 18px;
                    text-align: right;
                    width: 100%;

                }
            }
        }
    }
}

@media screen and (max-height: 800px) {
    .box {
        .content {
            .btns {
                bottom: 10px;
            }
        }
    }

}